@import "variables";

[class^="btn--"] {
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
}

.btn--primary {
  background-color: $jordyBlue;
  color: $white;
  font-size: 24px;
  font-weight: 700;
  padding: 0.25em 1em;
  border-radius: 2em;
}

.btn--icon {
  background-color: $mauvelous;
  border-radius: 50%;
  padding: 1em;
  width: 4em;
  height: 4em;
}
