@import "variables";

.colour--white {
  color: $white;
}

.colour--black {
  color: $black;
}

.colour--gray {
  color: $gray;
}

.colour--lavenderBlush {
  color: $lavendarBlush;
}

.colour--azalea {
  color: $azalea;
}

.colour--mauvelous {
  color: $mauvelous;
}

.colour--jordyBlue {
  color: $jordyBlue;
}

.colour--springRain {
  color: $springRain;
}

.colour--rajah {
  color: $rajah;
}

.colour--jaffa {
  color: $jaffa;
}
