// Colours

$white: #FFFFFF;
$black: #000000;
$gray: #868686;
$lavendarBlush: #FFF3F7;
$azalea: #F7C0CB;
$mauvelous: #EF7D95;
$jordyBlue: #88B6EC;
$springRain: #ADCDB8;
$rajah: #F6B45C;
$jaffa: #F07A48;


// Block padding

$defaultGutter: 10.3125rem;
$res1500: 7.5rem;
$res768: 4rem;
$res450: 1rem;

// Breakpoints

$mobile: 450px !default;
$tablet: 768px !default;
$tablet-landscape: 1024px !default;
$desktop: 1366px !default;
$desktop-large: 1560px !default;
